In [49]:
#importing pandas
import pandas as pd

*Pandas allows us to load a spreadsheet and manipulate it programmatically in python. The central concept in pandas is the type of object called a DataFrame – basically a table of values which has a label for each row and column. Let’s load this basic CSV file containing data from a NewYork city weather:*

In [50]:
#Here read_csv is the method for reading csv file into dataframe.
#csv file is comma-separated values
dataframe = pd.read_csv("nyc_weather.csv")
print(dataframe)

          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241

In [51]:
#get maximum temperature 
print(dataframe["Temperature"].max())

50

In [52]:
#If you want to know which days it rains
print(dataframe['EST'][dataframe['Events']=='Rain'])

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [53]:
#printing Average wind speed
print(dataframe['WindSpeedMPH'].mean())

6.892857142857143

*DataFrame is main object in pandas, it is used to represent data with rows and columns.*
*DataFrame is data structure represent the data in tabular or excel spreadsheet like data*

In [54]:
#creating dataframe from csv file
dataframe = pd.read_csv("Weather_data.csv") 
print(dataframe)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [55]:
#creating dataframe from tuples

weather_data = [('1/1/2017',32,6,'Rain'),('1/2/2017',35,7,'Sunny'),('1/3/2017',28,2,'Snow'),('1/4/2017',24,7,'Snow'),('1/5/2017',32,4,'Rain'),('1/6/2017',31,2,'Sunny')]
dataframe1 = pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
print(dataframe1)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [56]:
# get dimentions of table
print(dataframe.shape)

(6, 4)

In [57]:
#printing initial rows
print(dataframe.head())
print(dataframe.head(2))

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [58]:
#printing last rows
print(dataframe.tail())
print(dataframe.tail(2))

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [59]:
#printing data from 2 to 5 using slicing
print(dataframe[2:5])

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [60]:
#printing columns of dataframe
print(dataframe.columns)

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [61]:
#printing particular column data
print(dataframe.day)
print(dataframe.temperature)
#another way of accessing column
print(dataframe['day'])

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64
0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [62]:
#for getting two or more columns together
print(dataframe[['day','temperature']])
print(dataframe[['day','temperature','event']])

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31
        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [63]:
#printing maximum and minimum of temperature
print(dataframe['temperature'].max())
print(dataframe['temperature'].min())

35
24

In [64]:
#printing statistical data of pandas
print(dataframe['temperature'].describe())

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [65]:
#printing rows which has maximum temperature
print(dataframe[dataframe.temperature == dataframe.temperature.max()])

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [66]:
#printing only day column which has maximum temperature
print(dataframe.day[dataframe.temperature == dataframe.temperature.max()])

1    1/2/2017
Name: day, dtype: object

# Read and Write CSV and XLS files

In [67]:
#read excel file 
dataframe = pd.read_excel('weather_data.xlsx')
print(dataframe)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [68]:
#write DataFrame to csv file
dataframe.to_csv('new.csv')

In [69]:
#writing DataFrame to excel file
dataframe.to_excel('new.xlsx')

In [70]:
#group by using pandas

dataframe = pd.read_csv('weather_data_cities.csv')
print(dataframe)

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [71]:
x = dataframe.groupby('city')
print(x)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001CEAB0336A0>

In [72]:
for i,j in x:
    print(i)
    print(j)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [74]:
#printing specific group
x.get_group('new york')

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny

In [75]:
#printing maximum temperature from all cities
print(x.max())

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [76]:
#other statistical operations
print(x.mean())

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [77]:
print(x.median())

          temperature  windspeed
city
mumbai           88.5        8.5
new york         32.5        7.0
paris            47.5       11.5

In [79]:
print(x.describe())

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [83]:
#concatenate of two dataframes

dataframe_1 = pd.DataFrame({
        'city':['mumbai','surat','ahmedabad'],
        'temperature':[32,45,30],
        'humidity':[80,60,78]
})

print(dataframe_1)

dataframe_2 = pd.DataFrame({
        'city':['New york','chicago','orlando'],
        'temperature':[21,14,35],
        'humidity':[68,65,75]
})

print(dataframe_2)

dataframe_3 = pd.concat([dataframe_1,dataframe_2])
print(dataframe_3)

        city  temperature  humidity
0     mumbai           32        80
1      surat           45        60
2  ahmedabad           30        78
       city  temperature  humidity
0  New york           21        68
1   chicago           14        65
2   orlando           35        75
        city  temperature  humidity
0     mumbai           32        80
1      surat           45        60
2  ahmedabad           30        78
0   New york           21        68
1    chicago           14        65
2    orlando           35        75

In [84]:
#if you want continuous index
dataframe_4 = pd.concat([dataframe_1, dataframe_2], ignore_index=True)
print(dataframe_4)

        city  temperature  humidity
0     mumbai           32        80
1      surat           45        60
2  ahmedabad           30        78
3   New york           21        68
4    chicago           14        65
5    orlando           35        75

In [86]:
#if you want to concat column wise
dataframe_5 = pd.concat([dataframe_1,dataframe_2],axis=1)
print(dataframe_5)

        city  temperature  humidity      city  temperature  humidity
0     mumbai           32        80  New york           21        68
1      surat           45        60   chicago           14        65
2  ahmedabad           30        78   orlando           35        75

In [89]:
#merge dataframes

dataframe_1 = pd.DataFrame({
        'city':['Ahmedabad','delhi','mumbai','goa'],
        'temperature':[45,32,45,78]
})

print(dataframe_1)

dataframe_2 = pd.DataFrame({
        'city':['Ahmedabad','delhi','mumbai'],
        'humidity':[115,112,78]
})

print(dataframe_2)

dataframe_3 = pd.merge(dataframe_1,dataframe_2,on='city')
print(dataframe_3)

        city  temperature
0  Ahmedabad           45
1      delhi           32
2     mumbai           45
3        goa           78
        city  humidity
0  Ahmedabad       115
1      delhi       112
2     mumbai        78
        city  temperature  humidity
0  Ahmedabad           45       115
1      delhi           32       112
2     mumbai           45        78

In [90]:
#outer join
dataframe_4 = pd.merge(dataframe_1,dataframe_2,on='city',how='outer')
print(dataframe_4)

        city  temperature  humidity
0  Ahmedabad           45     115.0
1      delhi           32     112.0
2     mumbai           45      78.0
3        goa           78       NaN

In [91]:
#Numerical indexing
dataframe = pd.DataFrame([1,2,3,4,5,6,7,8,9,19],index = [49,48,47,46,45,1,2,3,4,5])
print(dataframe)

     0
49   1
48   2
47   3
46   4
45   5
1    6
2    7
3    8
4    9
5   19

In [93]:
#till index 2
dataframe.loc[:2]

    0
49  1
48  2
47  3
46  4
45  5
1   6
2   7

In [94]:
#till position 2
dataframe.iloc[:2]

    0
49  1
48  2